$Main_color: #FFFFFF;
$Titles_color: #4D533C;
$Text_color: #213842;
$Sections_color: #D4D6D4;
$User_Info_Text_color: #152934;
$Footer_Title_color: #B6C197;
$Hover_Links_color: #FFD723;
$Footer_color: #444A34;
$Footer_Par_color: #5D6544;
$Text_color: #000000;
$Menu-toggle-hover: #dddddd;
$Transition: 0.3s;
$Text_par_link__font-size: clamp(17px, 1.04vw, 20px);
$Font_size: clamp(30px, 3.13vw, 60px);;